__pycache__/
*.py[cod]

.DS_Store
.idea/
.vscode/

.env
.venv/
venv/

workspace/input/*
!workspace/input/.gitkeep

workspace/intermediate/*
!workspace/intermediate/.gitkeep

workspace/output/*
!workspace/output/.gitkeep

workspace/logs/*
!workspace/logs/.gitkeep
